html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  color: #222;
}

body {
  padding: 50px 20px;
}

nav {
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  background: #c0cec4;
  border-radius: 2px;
  padding: 12px;
  cursor: pointer;
  color: #222;
}

nav li:hover {
  color: white;
  background: #222;
}

nav a {
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  color: rgb(191, 48, 48);
  margin-bottom: 10px;
}

p {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin-bottom: 50px;
  line-height: 1.9rem;
}

section {
  margin-bottom: 70px;
}

div {
  margin-bottom: 30px;
}

.footer-space {
  height: 350px;
}

.address {
  margin-bottom: 40px;
  font-family: sans-serif;
}

.home-link {
  text-decoration: none;
  cursor: pointer;
}

.center {
  text-align: center;
  line-height: 1.6rem;
}

.maintenance {
  font-size: 1.2rem;
  font-family: serif;
}

.flex {
  margin: 0 auto;
  max-width: 70%;
}

img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}
